body * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.swiper {
  direction: ltr;
}

.rtl .swiper .swiper-slide {
  direction: rtl;
}


input[type="radio"] {
  box-shadow: none !important;
  border: 1px solid var(--colors-green-700) !important;
  width: 22px;
  height: 22px;
}
input[type="radio"]:checked {
  background-color: var(--colors-green-700);
}

.rtl .form-check {
  display: flex;
  align-items: center;
  gap: 28px;
  width: fit-content;
}

