body * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

button, input, select, textarea{
  box-shadow: none !important;
}

.swiper {
  direction: ltr;
}

.rtl .swiper .swiper-slide {
  direction: rtl;
}
