body {
  font-family: "IBM Plex Sans Arabic", sans-serif;
}

body * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --main-color: #1b8354;
  --main-color-dark: #074d31;
  --alt-color: #7c2390;
}

/* reset */
.swiper{
  direction: ltr ;
}

.rtl .swiper .swiper-slide{
  direction: rtl;
}

.bi-arrow-right {
  transition: transform 0.3s;
}

.rtl .bi-arrow-right::before  {
  transform: rotate(180deg);
}

.rtl .bi-arrow-left::before  {
  transform: rotate(180deg);
}

/* framework */
.bg-gray-1 {
  background-color: #eee !important;
}

.w-90{
  width: 90%;
}

.main-p{
  padding: 16px;
}

.main-rounded {
  border-radius: 16px;
}

img.main-rounded {
  border-radius: 8px;
}

.main-br {
  border-bottom: 2px solid var(--main-color);
}

.pointer-event {
  cursor: pointer;
}

.rounded-full {
  border-radius: 50%;
}

.main-bg {
  background-color: var(--main-color) !important;
}

.main-bg-dark {
  background-color: var(--main-color-dark) !important;
}

.main-text {
  color: var(--main-color) !important;
}

.alt-bg {
  background-color: var(--alt-color) !important;
}

.alt-text {
  color: var(--alt-color) !important;
}

.bg-white {
  background-color: white !important;
}

.w-fit {
  width: fit-content !important;
}

.object-fit-cover {
  object-fit: cover !important;
}
.custom-container {
  width: 70%;
  margin-inline: auto;
}

.text-truncate-1,
.text-truncate-2 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.text-truncate-1 {
  -webkit-line-clamp: 1;
}
.text-truncate-2 {
  -webkit-line-clamp: 2;
}
.text-truncate-3 {
  -webkit-line-clamp: 3;
}
.text-truncate-4 {
  -webkit-line-clamp: 4;
}

/* components */
.badge {
  display: inline-block;
  font-weight: 600;
  padding: 3px 6px;
  border: 1px solid transparent;
  min-width: 10px;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
}

.badge.badge-default {
  color: #1c1c1d;
  border: 1px solid gray;
}

.badge.badge-primary {
  background-color: #2195f330;
  color: rgb(39, 39, 208);
  border: 1px solid blue;
}

.badge.badge-success {
  background-color: #63dd1721;
  color: green;
  border: 1px solid green;
}


/* header */
header {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 10;
}

/* navbar-brand */
nav.navbar form .input-group {
  width: 117px;
  border: 2px solid transparent;
  transition: 0.3s;
}

nav.navbar form .input-group .input-group-text {
  cursor: text;
}

nav.navbar form .input-group input{
  font-size: 14px;
}

.navbar-brand a .logo,
.navbar-brand a .h_2030 {
  width: 66px;
}

/* main line */
.main-line {
  background-color: var(--main-color);
  width: 90px;
  height: 7px;
}

/* footer */
footer {
  background-color: var(--main-color-dark);
}

footer h5 {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

footer .social li,
footer .acceptability li {
  border: 1px solid rgba(0, 135, 72, 0.659);
}

footer .logos img {
  width: 70px;
  object-fit: contain;
}
footer .logos img:nth-child(3) {
  width: 150px;
}

/* media screens */
@media (max-width: 992px) {
  header .icons span {
    display: none;
  }
  .navbar-nav {
    align-items: center;
  }

  .navbar-nav li a {
    padding: 6px 24px;
  }

  .navbar-nav + form {
    flex-direction: column;
  }
}

/* tablet screen */
@media (max-width: 767px) {
  .custom-container {
    width: 95%;
  }

  .w-sm-100 {
    width: 100% !important;
  }
}

/* phone screen */
@media (max-width: 400px) {
  .custom-container {
    width: 98%;
  }
}
