/* hero */
section.home-hero {
    padding-block: 80px;
    background: var(--background-sa-flag);
    background: linear-gradient(230deg,
            var(--background-primary) 0%,
            var(--background-sa-flag) 100%);

    span,
    p {
        color: var(--text-oncolor-primary);
        font-size: 20px;
    }

    min-height: 491px;

    padding: var(--spacing-10) var(--spacing-20);
}

.rtl section.home-hero {
    background: linear-gradient(45deg,
            var(--main-color-dark) 0%,
            var(--main-color) 100%);
}

section.home-hero h1 {
    font-size: var(--display-xl--semibold);
    font-weight: 600;
    color: var(--text-oncolor-primary);
}

/* news and articles */
section.news .items .item .box {
    border-radius: 16px;
}

section.news .items .item img {
    border-radius: 8px;
    height: 250px;
}

/* service section */
.service-swiper .swiper-slide .item {
    border-radius: 15px;
    padding-inline: 13px;
}

.service-swiper .swiper-slide .item .icon {
    width: 40px;
    height: 40px;
    background-color: rgba(0, 166, 0, 0.129);
}

.service-swiper .swiper-slide .item .icon i {
    color: var(--main-color);
}

.service-swiper .swiper-pagination {
    position: absolute;
    left: 50%;
    z-index: 11;
    display: flex;
    bottom: 10px;
    width: fit-content;
    gap: 7px;
}

.service-swiper .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background-color: var(--white-color);
    border: 1px solid var(--gray-color);
    border-radius: 50%;
}

.service-swiper .swiper-pagination-bullet-active {
    background-color: var(--main-color);
}

/* partner swiper */
.partners-swiper .swiper-slide .item {
    width: 90px;
    height: 70px;
    border-radius: 16px;
}

.partners-swiper .swiper-slide .item img {
    height: 60px;
    object-fit: contain;
}

section.partners .btn.prev,
section.partners .btn.next {
    top: 70px;
    background-color: var(--gray-color-50);
    position: absolute;
}

section.partners .btn.prev {
    left: -38px;
}

section.partners .btn.next {
    right: -38px;
}


.nds-about {

    .our-statistics {

        i {
            display: block;
            margin: 0 auto;
            color: var(--icon-success);
            background-color: var(--background-brand-light);
            border-radius: 100%;
            height: 56px;
            width: 56px;
            font-size: var(--display-sm--regular);
            line-height: 1.9;
        }

        p {
            color: var(--text-primary-sa-flag)
        }

    }

}


@media (max-width: 767px) {

    section.partners .btn.prev,
    section.partners .btn.next {
        position: static;
    }
}