:root {
  --main-color: #1b8354;
  --main-color-dark: #074d31;
  --alt-color: #7c2390;
  --white-color: white;
  --gray-color: gray;
  --gray-color-50: rgb(235, 235, 235);

/*DGA_Variables*/

/*body&Card bg*/
--background-card: #FFFFFF;
/*text*/
--text-display:#1F2A37;

/*Badges*/
--tag-text-success: #085D3A;
--tag-border-success-light: #ABEFC6;
--tag-background-success-light: #ECFDF3;

--tag-text-info:#1849A9;
--tag-border-info-light:#B2DDFF;
--tag-background-info-light:#EFF8FF;

--tag-text-neutral:#1F2A37;
--border-neutral-secondary: #E5E7EB;
--tag-background-neutral-light: #F9FAFB;

/*Buttons*/
/*primary*/
--button-background-primary-default: #1B8354;
--text-oncolor-primary:#FFFFFF;

/*secondary*/
--text-default:#D2D6DB;
--border-neutral-primary: #161616;


/*header&footer*/
--background-SA-Flag:#074D31;
--link-oncolor: #FFFFFF;

}




@font-face {
  font-family: "IBM";
  src: url("../fonts/IBM/IBMPlexSansArabic-Bold.ttf") format("truetype"), url("../fonts/IBM/IBMPlexSansArabic-ExtraLight.ttf") format("truetype"), url("../fonts/IBM/IBMPlexSansArabic-Light.ttf") format("truetype"), url("../fonts/IBM/IBMPlexSansArabic-Medium.ttf") format("truetype"), url("../fonts/IBM/IBMPlexSansArabic-Regular.ttf") format("truetype"), url("../fonts/IBM/IBMPlexSansArabic-SemiBold.ttf") format("truetype"), url("../fonts/IBM/IBMPlexSansArabic-Thin.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: "IBM", sans-serif;
}

body * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.swiper {
  direction: ltr;
}

.rtl .swiper .swiper-slide {
  direction: rtl;
  
}

.bg-gray-1 {
  background-color: #eee !important;
}

.w-90 {
  width: 90%;
}

.main-p {
  padding: 16px;
}

.main-rounded {
  border-radius: 16px;
}

img.main-rounded {
  border-radius: 8px;
}

.main-br {
  border-bottom: 2px solid var(--main-color);
}

.pointer-event {
  cursor: pointer;
}

.rounded-full {
  border-radius: 50%;
}

.main-bg {
  background-color: var(--main-color) !important;
}

.main-bg-dark {
  background-color: var(--main-color-dark) !important;
}

.main-text {
  color: var(--main-color) !important;
}

.alt-bg {
  background-color: var(--alt-color) !important;
}

.alt-text {
  color: var(--alt-color) !important;
}

.bg-white {
  background-color: white !important;
}

.w-fit {
  width: -moz-fit-content !important;
  width: fit-content !important;
}

.object-fit-cover {
  -o-object-fit: cover !important;
     object-fit: cover !important;
}

.text-truncate-1, .text-truncate-2, .text-truncate-3, .text-truncate-4 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.text-truncate-1 {
  -webkit-line-clamp: 1;
}

.text-truncate-2 {
  -webkit-line-clamp: 2;
}

.text-truncate-3 {
  -webkit-line-clamp: 3;
}

.text-truncate-4 {
  -webkit-line-clamp: 4;
}

.custom-container {
  width: 70%;
  margin-inline: auto;
}

.main-line {
  background-color: var(--main-color);
  width: 90px;
  height: 7px;
}

.badge {
  display: inline-block;
  font-weight: 600;
  padding: 3px 6px;
  border: 1px solid transparent;
  min-width: 10px;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
}

.badge.badge-default {
  color: #1c1c1d;
  border: 1px solid gray;
}

.badge.badge-primary {
  background-color: rgba(33, 149, 243, 0.1882352941);
  color: rgb(39, 39, 208);
  border: 1px solid blue;
}

.badge.badge-success {
  background-color: rgba(99, 221, 23, 0.1294117647);
  color: green;
  border: 1px solid green;
}

header {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 10;
}

nav.navbar form .input-group {
  width: 117px;
  border: 2px solid transparent;
  transition: 0.3s;
}

nav.navbar form .input-group .input-group-text {
  cursor: text;
}

nav.navbar form .input-group input {
  font-size: 14px;
}

.navbar-brand a .logo,
.navbar-brand a .h_2030 {
  width: 66px;
}

footer {
  background-color: var(--main-color-dark);
}

footer h5 {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

footer .social li,
footer .acceptability li {
  border: 1px solid rgba(0, 135, 72, 0.659);
}

footer .logos img {
  width: 70px;
  -o-object-fit: contain;
     object-fit: contain;
}

footer .logos img:nth-child(3) {
  width: 150px;
}
