@import './utils/variables';
@import './utils/fonts';
@import './utils/reset';
@import './utils/utils';
@import './components/main-line';
@import './components/badge';
@import './components/header';
@import './components/footer';



/* hero */
section.home-hero {
    padding-block: 80px;
    background: var(--main-color-dark);
    background: linear-gradient(330deg, var(--main-color-dark) 0%, var(--main-color) 100%);
}

.rtl section.home-hero {
    background: linear-gradient(45deg, var(--main-color-dark) 0%, var(--main-color) 100%);
}

section.home-hero h1 {
    font-size: 60px;
}

/* news and articles */
section.news .items .item .box {
    border-radius: 16px;
}

section.news .items .item img {
    border-radius: 8px;
    height: 250px;
}

/* service section */
.service-swiper .swiper-slide .item {
    border-radius: 15px;
    padding-inline: 13px;
}

.service-swiper .swiper-slide .item .icon {
    width: 40px;
    height: 40px;
    background-color: rgba(0, 166, 0, 0.129);
}

.service-swiper .swiper-slide .item .icon i {
    color: var(--main-color);
}

.service-swiper .swiper-pagination {
    position: absolute;
    left: 50%;
    z-index: 11;
    display: flex;
    bottom: 10px;
    width: fit-content;
    gap: 7px;
}

.service-swiper .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background-color: var(--white-color);
    border: 1px solid var(--gray-color);
    border-radius: 50%;
}

.service-swiper .swiper-pagination-bullet-active {
    background-color: var(--main-color);
}

/* partner swiper */
.partners-swiper .swiper-slide .item {
    width: 90px;
    height: 70px;
    border-radius: 16px;
}

.partners-swiper .swiper-slide .item img {
    height: 60px;
    object-fit: contain;
}

section.partners .btn.prev,
section.partners .btn.next {
    top: 70px;
    background-color: var(--gray-color-50);
    position: absolute;
}

section.partners .btn.prev {
    left: -38px;
}

section.partners .btn.next {
    right: -38px;
}

/* --------- */
.swiper-container {
    overflow: visible;
    position: relative;
}

.swiper-wrapper {
    padding-left: initial;
    margin: 0;
}

.swiper-slide {
    width: 80%;
    text-align: center;
    font-size: 18px;
    padding-bottom: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: start;
}

.swiper-button-next,
.swiper-button-prev {
    color: #fff !important;
    /* Button color */
    background-color: #1b8354;
    /* Transparent background */
    border-radius: 50%;
    /* Rounded buttons */
    padding: 10px;
    width: 2.5rem;
    height: 2.5rem;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
    background-color: rgba(0, 0, 0, 0.5);
    /* Darker background on hover */
}

.swiper-button-next:after,
.swiper-button-prev:after {
    font-size: 18px;
    color: #fff;
    /* Arrow color */
}

/* --------- */

@media (max-width: 767px) {

    section.partners .btn.prev,
    section.partners .btn.next {
        position: static;
    }
}

// Output: ../../main.css
/*# sourceMappingURL=../../main.css.map */